@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:ital,wght@1,600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  font-family: 'Montserrat', sans-serif;
}

/* 1. Selektor Kelas */
.nav-item {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}

.portfolio {
  font-size: 100px;
  font-weight: 700;
  color: #ff69b4;
  letter-spacing: -5px;
}

.creative {
  position: absolute;
  top: -50px;
  left: 0;
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-style: italic;
  color: #000;
  z-index: 1;
}
