@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:ital,wght@1,600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  font-family: 'Montserrat', sans-serif;
}

/* 1. Selektor Kelas */
.nav-item {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}

